Repository kergoth/beets-alias: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, pydoclint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: pydoclint
        name: pydoclint
        entry: pydoclint
        language: system
        types: [python]
      - id: ruff
        name: ruff
        entry: ruff check
        args: [--fix]
        language: python
        types_or: [python, pyi]
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: python
        types_or: [python, pyi]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/python-poetry/poetry
    rev: 1.8.3
    hooks:
      - id: poetry-check
      - id: poetry-lock
        args: [--no-update]
      - id: poetry-install
  - repo: https://github.com/repo-helper/pyproject-parser
    rev: v0.11.1
    hooks:
      - id: check-pyproject

Point to spdx.org for the license badge
  CONTRIBUTING.md
Due: none

Correct cruft commit
  .cruft.json
Due: none

Add ethical source and contributor covenant badges
  README.md
Due: none

Add a note to the readme about ethical source principles
  README.md
Due: none

Fix contributor covenant link in generated docs
  README.md
  docs/index.md
Due: none

Bump version to v0.9.2
  pyproject.toml
Due: check-toml

Allow aliases for an alias when using mapping syntax
  src/beetsplug/alias.py
  tests/test_alias.py
Due: pydoclint

Add example use of 'aliases' for an alias to the README
  README.md
Due: none

Bump version to 1.0.0
  pyproject.toml
Due: check-toml

Bump version to 1.0.1
  poetry.lock
  pyproject.toml
Due: check-toml

Improve the docstring of check_call_redirected
  src/beetsplug/alias.py
Due: pydoclint

Avoid changing the type sig of load_plugins()
  tests/test_alias.py
Due: pydoclint

Skip the pre-commit stage if .git doesn't exist
  noxfile.py
Due: pydoclint

Install nox/nox-poetry with poetry
  poetry.lock
  pyproject.toml
Due: check-toml

Migrate from Poetry to uv
  .github/workflows/constraints.txt
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  noxfile.py
  poetry.lock
  pyproject.toml
  src/beetsplug/__init__.py
  src/beetsplug/alias.py
  tests/beetsplug/__init__.py
  tests/beetsplug/testplugin.py
  tests/test_alias.py
  uv.lock
Due: check-toml, check-yaml, pydoclint

Stabilize nox sessions after uv migration
  noxfile.py
  src/beetsplug/__init__.py
  tests/beetsplug/__init__.py
  tests/beetsplug/testplugin.py
  tests/test_alias.py
  uv.lock
Due: pydoclint

Migrate dependency audit from Safety to pip-audit
  .github/workflows/tests.yml
  .safety-policy.yml
  noxfile.py
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml, pydoclint

Add Python 3.14 to support matrix
  .github/workflows/tests.yml
  noxfile.py
  pyproject.toml
Due: check-toml, check-yaml, pydoclint

Modernize CI outputs and packaging metadata
  .github/workflows/constraints.txt
  .github/workflows/release.yml
  .github/workflows/tests.yml
  noxfile.py
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml, pydoclint

Reference ethical source principles in the contributor guide
  CONTRIBUTING.md
Due: none

Add a local copy of the ethical source principles
  ETHICAL_SOURCE.md
Due: none

Fix stale mypy suppression
  tests/test_alias.py
Due: pydoclint

Fix CI coverage path mapping
  pyproject.toml
Due: check-toml

Quote label colors
  .github/labels.yml
Due: check-yaml
