Repository kergoth/beets-alias: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, pydoclint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: pydoclint
        name: pydoclint
        entry: pydoclint
        language: system
        types: [python]
      - id: ruff
        name: ruff
        entry: ruff check
        args: [--fix]
        language: python
        types_or: [python, pyi]
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: python
        types_or: [python, pyi]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/python-poetry/poetry
    rev: 1.8.3
    hooks:
      - id: poetry-check
      - id: poetry-lock
        args: [--no-update]
      - id: poetry-install
  - repo: https://github.com/repo-helper/pyproject-parser
    rev: v0.11.1
    hooks:
      - id: check-pyproject

Avoid subprocess for internal aliases
  src/beetsplug/alias.py
Due: pydoclint

Add example of help text to alias docstring
  src/beetsplug/alias.py
Due: pydoclint

alias: improve example in comments
  src/beetsplug/alias.py
Due: pydoclint

alias: use shlex directly
  src/beetsplug/alias.py
Due: pydoclint

Parameter expansion support for alias plugin
  src/beetsplug/alias.py
Due: pydoclint

alias: also pull from a toplevel aliases section of the config
  src/beetsplug/alias.py
Due: pydoclint

Adjusted code formatting
  src/beetsplug/alias.py
Due: pydoclint

Apply initial fixes for ruff errors
  src/beetsplug/alias.py
Due: pydoclint

Add initial testsuite
  tests/test_plugin.py
Due: pydoclint

Apply ruff format
  src/beetsplug/alias.py
Due: pydoclint

alias: send events on alias success/failure
  src/beetsplug/alias.py
Due: pydoclint

Populate the README based on alias.rst
  README.md
Due: none

Refactor to avoid the overly-complex subcommand function
  src/beetsplug/alias.py
  tests/test_plugin.py
Due: pydoclint

Allow us to capture external command output
  src/beetsplug/alias.py
Due: pydoclint

Further flesh out the testsuite
  pyproject.toml
  src/beetsplug/alias.py
  tests/test_plugin.py
Due: check-toml, pydoclint

Add markdownlint conifg
  .markdownlint.yml
Due: check-yaml

Remove unused usage/reference pages
  README.md
  docs/index.md
  docs/reference.md
  docs/usage.md
  tests/test_plugin.py
Due: pydoclint

Add tests for the events
  tests/test_plugin.py
Due: pydoclint

Skip the from_path test on Windows, for now
  tests/test_plugin.py
Due: pydoclint

Remove an unused 'type: ignore' in the tests
  tests/test_plugin.py
Due: pydoclint

Bump version to 0.9.1
  pyproject.toml
Due: check-toml

Scripts returning a specific status code will trigger database_change
  src/beetsplug/alias.py
Due: pydoclint

Add thanks to the contributors to the README
  README.md
Due: none

Add test for database_change support
  tests/test_plugin.py
Due: pydoclint

Add test for non-executable in PATH with from_path
  tests/test_plugin.py
Due: pydoclint

Add a assertFiresEvent method to our test class
  tests/test_plugin.py
Due: pydoclint

Improve the coverage slightly
  src/beetsplug/alias.py
Due: pydoclint

Fix a mypy error
  tests/test_plugin.py
Due: pydoclint

Dependency updates
  poetry.lock
Due: none

Ensure that the plugin has 'name' set correctly
  src/beetsplug/alias.py
Due: pydoclint

Use the kwargs for assertFiresEvent
  tests/test_plugin.py
Due: pydoclint

Attempt to fix upload/download-artifact@v4 github actions
  .github/workflows/tests.yml
Due: check-yaml

Fix a syntax issue with upload-artifact
  .github/workflows/tests.yml
Due: check-yaml

Correct the typing on NoOpOptionParser
  src/beetsplug/alias.py
Due: pydoclint

Explicitly test an internal plugin command that exits explicitly
  tests/beetsplug/__init__.py
  tests/beetsplug/testplugin.py
  tests/test_alias.py
Due: pydoclint

Improve coverage by assuming the log is present
  src/beetsplug/alias.py
Due: pydoclint

Ignore a beets db
  .gitignore
Due: none

Remove use of the six module
  src/beetsplug/alias.py
Due: pydoclint

Ignore .venv
  .gitignore
Due: none

Correct the cruft template url
  .cruft.json
Due: none
